<p>
  {{ title }}
  <!-- {{ getTitle() }} -->
</p>

<mat-list>
  <mat-list-item>
    <img mat-list-avatar 
         [src]="movie1.pictureURL"> 
    <h4 mat-line><strong> {{ movie1.title }} </strong></h4> 
    <p mat-line> {{ movie1.overview }} </p>
  </mat-list-item>
  <mat-list-item> 
    <img mat-list-avatar 
         [src]="movie2.pictureURL"> 
    <h4 mat-line><strong> {{ movie2.title }} </strong></h4> 
    <p mat-line> {{ movie2.overview }} </p>
  </mat-list-item>
  <mat-list-item> 
    <img mat-list-avatar 
         [src]="movie3.pictureURL"> 
    <h4 mat-line><strong> {{ movie3.title }} </strong></h4> 
    <p mat-line> {{ movie3.overview }} </p>
  </mat-list-item>
</mat-list>
 
