<div class="container" *ngIf="movie">
  <h2>Edit "{{movie.fixedTitle}}"</h2>
  <form #movieForm="ngForm">
    <div class="form-group" [ngClass]="{'has-error': title.invalid && title.touched}">
      <label for="title" class="control-label">Title (*)</label>
      <input #title="ngModel" id="title" type="text" name="title" class="form-control error" 
      [(ngModel)]="movie.title" required>
      <div [hidden]="title.valid || title.untouched" class="text-danger">
        Title is required
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': overview.invalid && overview.touched}">
      <label for="overview" class="control-label">Overview (*)</label>
      <input #overview="ngModel" id="overview" type="text" name="overview" class="form-control" 
      [(ngModel)]="movie.overview" required>
      <div *ngIf="overview.touched && overview.invalid" class="text-danger">
          Overview is required
        </div>
    </div>

    <div class="form-group">
      <label for="homepage">Homepage</label>
      <input id="homepage" type="text" name="homepage" class="form-control" 
      [(ngModel)]="movie.homepage">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="movieForm.form.invalid">
      Submit
    </button>
<pre>
Form.valid: {{movieForm.form.valid}}
Form.invalid: {{movieForm.form.invalid}}
Form.touched: {{movieForm.form.touched}}
Form.untouched: {{movieForm.form.untouched}}
Form.dirty: {{movieForm.form.dirty}}
Form.pristine: {{movieForm.form.pristine}}
</pre>
  </form>
</div>

<!-- <pre>
  {{movie | json}}
</pre> -->