<div class="container" *ngIf="movie">
    <form #movieForm="ngForm">
        <div>
            <h3>Edit "{{movie['fixedTitle']}}"</h3>
        </div>
        <!-- Uso de ngClass -->
        <div class="form-group" [ngClass]="{'has-error': title.invalid && title.touched, 'has-success': title.valid && title.touched}">
            <label for="title">Title</label>
            <input #title="ngModel" type="text" name="title" [(ngModel)]="movie.title" class="form-control" required>
            <!-- Primera forma de mostrar mensajes -->
            <label class="control-label" *ngIf="title.invalid && title.touched">Title is required</label>
        </div>
        <div class="form-group" [ngClass]="{'has-error': overview.invalid && overview.touched, 'has-success': overview.valid && overview.touched}">
            <label for="overview">Overview</label>
            <textarea #overview="ngModel" name="overview" id="overview" class="form-control" [(ngModel)]="movie.overview" required></textarea>
            <!-- Segunda forma de mostrar mensajes -->
            <label class="control-label" [hidden]="overview.valid || overview.untouched">Overview is required</label>
        </div>
        <div class="form-group" [ngClass]="{'has-error': homepage.invalid && homepage.touched, 'has-success': homepage.valid && homepage.touched}">
            <label for="homepage">Homepage</label>
            <input #homepage="ngModel" type="url" name="homepage" [(ngModel)]="movie['homepage']" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="movieForm.form.invalid">Accept</button>
        <pre>
            Form.valid: {{movieForm.form.valid}}
            Form.invalid: {{movieForm.form.invalid}}
            Form.touched: {{movieForm.form.touched}}
            Form.untouched: {{movieForm.form.untouched}}
            Form.pristine: {{movieForm.form.pristine}}
            Form.dirty: {{movieForm.form.dirty}}
        </pre>
        <pre>
            Title.valid: {{title.valid}}
            Title.invalid: {{title.invalid}}
            Title.touched: {{title.touched}}
            Title.untouched: {{title.untouched}}
            Title.pristine: {{title.pristine}}
            Title.dirty: {{title.dirty}}
        </pre>
    </form>
</div>
<pre>{{movie | json}}</pre>